<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rented Cars</title>
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h2 class="mb-0">Rented Cars for {{ username }}</h2>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for car in cars %}
                        <li class="list-group-item">
                            <strong>{{ car.car_model_name }}</strong>: From <span class="text-success">{{ car.pick_up_date }}</span> to <span class="text-danger">{{ car.return_date }}</span> &nbsp;&nbsp;&nbsp;Total amount to pay:  <span class="text-success">{{car.total_cost}} BAM</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
